.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: inline-block;

  @media screen and (max-width: 1199.98px) {
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accent {
  color: $accent-color;
}

.footer__logo {
  color: $white-color;
  margin-bottom: 20px;
}
.header__logo {
  color: $heading-txt-color;
  margin-right: 93px;
}
