html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-style: normal;
  background-color: $white-color;
  color: $main-txt-color;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
