@mixin centeredFlex(
  $display: flex,
  $align-items: center,
  $justify-content: center,
  $wrap: nowrap
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}
