$main-txt-color: #757575;

$heading-txt-color: #212121;

$accent-color: #2196f3;

$white-color: #fff;

$bg-color-light-grey: #f5f4fa;

$bg-color-dark-gray: #2f303a;

$icons-fill-grey: #afb1b8;

$main-font: "Roboto", sans-serif;

$corner-radius: 4px;

$card-items-gap: 30px;
